<div *ngIf="gamingComputer">
  <h2>Gaming Computer</h2>
  <p>Processor: {{ gamingComputer.processor }}</p>
  <p>RAM: {{ gamingComputer.RAM }}</p>
  <p>Memory: {{ gamingComputer.memory }}</p>
</div>

<div *ngIf="workstationComputer">
  <h2>works Computer</h2>
  <p>Processor: {{ workstationComputer.processor }}</p>
  <p>RAM: {{ workstationComputer.RAM }}</p>
  <p>Memory: {{ workstationComputer.memory }}</p>
</div>

<div *ngIf="minstationComputer">
  <h2>Min Computer</h2>
  <p>Processor: {{ minstationComputer.processor }}</p>
  <p>RAM: {{ minstationComputer.RAM }}</p>
  <p>Memory: {{ minstationComputer.memory }}</p>
</div>
